p {
  font-size: 20px;
  color: black;
  font-family: 'Inter', sans-serif;
  text-align: center;
}
#p-content {
  font-size: 16px;
}
#p-title {
  font-weight: bold;
}

/** HEADER **/
#header-nav {
  background-color: #FFFAEB;
  border-radius: 0;
  border: 2;
}

.navbar-brand {
  padding-top: 25px;
  min-height: 70px;
}
.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Inter', sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  border: 1px black;
  background-color: lightblue;
  margin:0px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border-bottom: 1px solid seagreen;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid seagreen;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

/** END OF HEADER **/
#main-section.container {
  background-color: lightblue;
  height: 1000px;
  padding-top: 5px;
}
.col-xs-12 {
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;

}